@import "./header.css";
@import "./hero.css";
@import "./about-us.css";
@import "./our-lessons.css";
@import "./proposal-to-leave-an-application.css";
@import "./our-teachers.css";
@import "./leave-an-application.css";
@import "./reviews.css";
@import "./footer.css";
@import "./container.css";
@import "./reset.css";
@import "./title.css";
@import "./button.css";
@import "./radio-button.css";
@import "./modal.css";

:root {
  --black: #121417;
  --green: #4dc274;
  --green_linear: linear-gradient(85deg, #4dc274 2.25%, #bee8cc 131.25%);
  --light-green: #d4fde1;
  --gray: #f3f5f6;
  --white: #fff;
  --title-accent: #bee8cc;
  --green-button: #38ae5f;
  --subtitle: rgba(18, 20, 23, 0.5);
  --text-accent: rgba(255, 255, 255, 0.7);
  --button-accent: rgba(255, 255, 255, 0.4);
  --block-color: rgba(255, 255, 255, 0.5);
  --form-text: rgba(18, 20, 23, 1);
  --form-border: rgba(18, 20, 23, 0.1);
  --radio-button: rgba(18, 20, 23, 0.2);
  --footer-link: rgba(255, 255, 255, 0.6);
  --footer-networks-border: rgba(255, 255, 255, 0.1);
  --footer-networks: rgba(255, 255, 255, 1);
  --networks-active: rgba(77, 194, 116, 0.1);
  --backdrop: rgba(156, 156, 156, 0.4);
}
