/* mobile */
.our-lessons {
  margin-bottom: 80px;
}

.our-lessons__offers {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.our-lessons__item {
  padding: 32px;
  border-radius: 16px;
  border: 1px solid var(--green);
  width: 100%;
}

.accent {
  background-color: var(--green);
}

.our-lessons__version {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.4px;
  text-align: center;
  margin-bottom: 16px;
}

.our-lessons__price {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.64px;
  text-align: center;
  margin-bottom: 40px;
}

.our-lessons__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--subtitle);
  margin-bottom: 20px;
  text-align: center;
}

.text-accent {
  color: var(--text-accent);
}

.our-lessons__button {
  margin: 0 auto;
}

/* tablet */
@media screen and (min-width: 768px) {
  .our-lessons {
    margin-bottom: 100px;
  }

  .our-lessons__offers {
    gap: 32px;
  }

  .our-lessons__item {
    border-radius: 30px;
    width: 336px;
  }
  .our-lessons__price {
    line-height: 1.38;
    margin-bottom: 32px;
  }
  .our-lessons__text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 32px;
  }
}

/* desktop */
@media screen and (min-width: 1280px) {
  .our-lessons {
    margin-bottom: 150px;
  }
  .our-lessons__item {
    flex-basis: calc((100% - 64px) / 3);
    width: 100%;
  }

  .our-lessons__price {
    line-height: 1.38;
  }
}
