/* mobile */
.reviews {
  margin-bottom: 150px;
}
.reviews__subtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.4px;
  color: var(--white);
  margin-bottom: 2px;
}

.reviews__subtitle-position {
  font-size: 12px;
  line-height: 1.33;
  color: var(--block-color);
}

.reviews__list-item {
  padding: 20px 20px 40px;
  border-radius: 16px;
  background-color: var(--gray);
  width: 335px;
}

.reviews__wrapper {
  display: flex;
  padding: 14px;
  background-color: var(--green);
  border-radius: 8px;
  align-items: center;
}

.reviews__wrapper-text {
  margin-left: 8px;
}

.reviews__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--subtitle);
  padding: 20px 14px 0;
}

/* tablet */
@media screen and (min-width: 768px) {
  .reviews__list-item {
    padding: 32px 16px 40px;
    border-radius: 30px;
  }
  .reviews__wrapper {
    padding: 14px 16px;
    border-radius: 15px;
  }
  .reviews__text {
    font-size: 16px;
    line-height: 1.5;
    padding: 32px 16px 0;
  }
}

/* desktop */
@media screen and (min-width: 1158px) {
  .reviews {
    margin-bottom: 150px;
  }

  .reviews__list-item {
    width: 320px;
  }
}
