/* mobile */
.swiper {
  max-width: 335px;
  width: 100%;
  height: 370px;
}

.swiper-slide {
  height: auto;
}

.swiper-wrapper {
  height: 326px;
}

.swiper-pagination-bullet-active {
  background-color: var(--green);
}

/* tablet */
@media screen and (min-width: 768px) {
  .swiper {
    max-width: max-content;
    height: 380px;
  }
}

/* desktop */
@media screen and (min-width: 1158px) {
}
